doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(href='/css/navbar.css', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    block scripts
        script(src='/scripts/animations.js')
body
    div.defaultheader
        div.contenttitle
            | #{title}
        div.nav
            ul
                button(id="menubutton")
                    img(src="/images/menu.png" alt="Menu" id="menupicture")
                li
                    a(href="/")
                        | About Me
                li
                    a(href="/timeline")
                        | My Timeline
                li
                    a(href="/projects")
                        | My Projects
                li
                    a(href="/contact")
                        | Contact Me
                li
                    div.resume
                        a(href="/resume" class="resumebutton")
                            | Resume
    div.messagebox(style=`display: none;`)(id=`messagebox`)
        div.messagecontent(id=`messagecontent`)
            div.close(id=`close`)
                | &times; 
            div.messagecontenttitle(id=`messagecontenttitle`)(style=`display: none;`)    
                | 
            div.messagetext(id=`messagetext`)
                | #{alerttext}
            div.messagelink(id=`messagelink`)(style=`display: none;`)       
                | 

        if (message == true)
            script.
                setTimeout(function(){
                    $('#messagebox').fadeIn("slow");
                },100);
block content

block footer
    div.footer
        | test