extends default

block header

block content
  div.jobprofile(style=`background:url('/images/${job.profileimg}') no-repeat; background-size: cover; background-position: bottom center; `)
    div.jobcontainer
      div.job-details
        h1.profile-name
          | #{job.name}
        p.profile-bio
          | #{job.description}