extends default

block content

    div.profile
        div.profile-image(style=`background: url('/images/${project.imgSrc}') top center no-repeat; background-size: cover;`)
            div.profile-details
                h1.profile-name
                    | #{project.name}
                p.profile-bio
                    | #{project.description}
                a.button.button-twitter(href=`${project.github}`)
                    | Follow on GitHub