html {
    overflow-y: scroll;
}
.defaultheader {
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    height: 7vh;
    background-color: #233237;
    border-bottom: 1px solid rgb(234, 198, 122);
    border-bottom: 1px solid rgba(234, 198, 122, .4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    background-image: linear-gradient(0deg, rgba(24, 18, 30, 1) 10%, rgba(35, 50, 55, 1) 100%);
    display: flex;
}

.contenttitle {
    display: block;
    margin: auto;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    float: left;
    margin-left: 5vh;
    width: 50%;
}

.nav {
    width: 100%;
    z-index: 100;
    padding-right: 20px;
}

.nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex
}

.nav li {
    list-style-type: none;
    width: 150px;
    text-align: left;
    height: 100px;
    display: block;
    padding-top: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-color: #EAC67A
}

.nav a:hover {

}

.resume {
    float: right;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: #984B43;
    text-align: center;
    color: #E8E8E8;
    width: 150px;
    margin-top: -10px;
}

.nav a::before {
    content: "// ";
    color:aqua;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}
button {
    display: none;
    float: right;
    width: 150px;
    height: 99px;
    background-color: #233237;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .contenttitle {
        display: block;
        margin-top: 30px;
        vertical-align: middle;
        font-size: 18px;
        color: white;
        float: left;
        margin-left: 5vh;
        width: 50%;
        position: absolute;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30px;
        height: 30px;
        background: none;
    }

    button {
        float: right;
        height: 73px;
        right: -10px;
        background: none;

    }

    .defaultheader {
        width: 100%;
        grid-template-columns: 50% 50%;
        display: grid;
        height: 74px;
        background-color: #233237;
        border-bottom: solid 1px lightgrey;
    }

    .nav {
        padding-right: 0px;
        background: none;
        position: absolute;
        float: right;
    }
    ul {
        flex-direction: column;
        background-color: #984B43;
        margin: 0 !important;
        padding: 0 !important;
        background: none;
        margin-top: 20px;

    }
    .nav a::before {
        content: "";
    }

    .nav li {
        margin: 0px;
        padding: 0px;
        color: black;
        visibility: visible;
        text-align: center;
        display: none;
        height: 50px;
    }

    .nav a {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 50px;
        width: 150px;
        color: black;
        border: solid 1px lightgrey;
        background-color: #984B43;
    }
    .nav a:hover {

        color: #EAC67A;

    }
    button {
        display: block;
        padding: 2vw;
        font-size: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        display: block;
        cursor: pointer;
        align-self: flex-start;
    }
    .resume {
        margin: 0px;
        padding: 0px;
        height: 50px;
    }
    .resumebutton {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border: none;
        margin-top: 0px;
        height: 50px;
        width: 150px;
    }
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    height: 3vh;

    border-bottom: 1px solid rgb(234, 198, 122);
    border-bottom: 1px solid rgba(234, 198, 122, .4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 10%, rgba(35, 50, 55, 0.5) 100%);
    display: flex;
}